@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;	
}
a,h1,h2,h3,h4,h5,h6,b,p,div,input,button,select{
	font-family: poppins !important;
}
@font-face{
	font-family: trench;
	src:url(../fonts/poppins-Light.ttf);
}
@font-face{
	font-family: poppins;
	src:url(../fonts/Poppins-Light.ttf);
}

#h-d-s{
	background-image:linear-gradient(rgba(63, 51, 137, 0.69),rgba(63, 51, 137, 0.69)),url(../img/bg.jpeg) ;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	height: 550px;
	width: 100%;
	 margin-bottom: 15%;
}
.t-t1{
	font-size: 4.5em;
	color: white;
	font-family: trench !important;
	margin-top: 11%;
	font-weight: 100;
}
.t-t2{
	font-size: 1.2em;
	color: white;
	/*font-family: trench !important;*/
	font-weight: 300;
	margin-top: 1%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.i-t{
	background: transparent;
	border-radius: 50px;
	border-right:none !important;
	padding: 2rem 4rem;
}
form.navbar-form.navs {
    /* padding: 10px 299px; */
    transform: translate(100%);
}
.t-b-1{
	padding-right: 0px !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ccc;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #EA9E3E;
    cursor: default;
     background-color: transparent !important;
     border:  none !important;
    border-bottom: 4px solid #EA9E3E !important;
    border-radius: 1px !important;
    /* border-bottom-color: transparent; */
}
.t-inp{
	height: 45px;
	border-radius: 8px;
}
.wells{
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.43);
}
.navbutton{
	background: transparent;
	border-left: none !important;
	border-radius: 50px;
	padding: 1rem 4rem;
}
.j-m-g {
    background: linear-gradient(rgb(97, 65, 162) 10%,rgba(255, 255, 255, 0)63%);
    padding: 15px;
    margin-top: 7%;

}
#tabs-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 55px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
}
#tabs-toggle .icon-bar {
    background-color: #fff;
}
#tabs-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
#tabs-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.expl {
    color: #6344A0;
    font-size: 28px;
    line-height: 1.4em;
    letter-spacing: .033em;
    font-family: trench !important;
}
.expl b{
	font-family: trench !important;
}
.para {
    font-size: 14px;
    color: #9d9d9d;
    line-height: 0.9em;
    margin-top: 1%;
}
.text-purple{
	color: #6344A0 !important;
}
.texter{
	 color: #9d9d9d;
	 font-size: 14px;
	 padding-top: 8px;
     font-weight: normal;
}
#actively{
	font-size: 20px;
	font-style: normal;
}
ul.nav.nav-tabs.nvar {
    width: 92%;
    margin-left: 4%;
}
.back1 {
    background: rgba(153, 153, 153, 0.34);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    background-position: center center;
    padding: 40px 50px;
}
.back2 {
    background: rgba(153, 153, 153, 0.34);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    background-position: center center;
    padding: 40px 50px;
}.back3 {
    background: rgba(153, 153, 153, 0.34);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    background-position: center center;
    padding: 40px 50px;
}.back4 {
    background: rgba(153, 153, 153, 0.34);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    background-position: center center;
    padding: 40px 50px;
}.back5 {
    background: rgba(153, 153, 153, 0.34);
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    background-position: center center;
    padding: 40px 50px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    display: none;
}
#features{
	background: #6344A0;
	height: 420px;
	width: 100%;
	margin-top: 9%;
}
.text-p{
	color:  #6344A0;
	font-size: 1.3em;
}
.beeder{
    margin-top: 50px;
}
